/* VDP */
/* Mobile Version  */
.bannerinsite-container.vdp.mobile {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9) 0,
      rgba(255, 255, 255, 0.5) 34%,
      rgba(255, 255, 255, 0) 44%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(https://bannerinsitepublicimages.blob.core.windows.net/bannerimages/jim_ellis_buick_gmc_bg_desktop.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* height: 150px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 20%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
}
.bannerinsite-container.vdp .bannerinsite-uppercase {
  text-transform: uppercase;
}
.bannerinsite-container.vdp .bannerinsite-margin {
  margin: 0;
}
.bannerinsite-container.vdp.mobile
  .bannerinsite-image-container
  .bannerinsite-img {
  clip-path: polygon(7% 29%, 86% 28%, 86% 77%, 7% 79%);
  height: 100%;
  width: auto;
}

.bannerinsite-container.vdp.mobile .bannerinsite-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: rgba(255, 255, 255, 0.7); */
}
.bannerinsite-container.vdp.mobile .bannerinsite-info .bannerinsite-title {
  flex-basis: 100%;
  margin-bottom: 1rem;
  margin-left: 15px;
  font-size: 8vw;
}
.bannerinsite-container.vdp.mobile
  .bannerinsite-info
  .bannerinsite-price-text
  .bannerinsite-price {
  font-size: 8vw;
}
.bannerinsite-container.vdp.mobile .bannerinsite-info .bannerinsite-text-for {
  font-size: 2.4vw;
  line-height: 2.4vw;
}

.bannerinsite-container.vdp.mobile .bannerinsite-info .bannerinsite-finance-for,
.bannerinsite-container.vdp.mobile .bannerinsite-info .bannerinsite-lease-for {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 50%;
  padding-left: 1rem;
}
.bannerinsite-container.vdp.mobile .bannerinsite-info .bannerinsite-price-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.bannerinsite-container.vdp.mobile
  .bannerinsite-info
  .bannerinsite-lease-for
  .bannerinsite-price-text {
  justify-content: flex-start !important;
}
.bannerinsite-container.vdp
  .bannerinsite-info
  .bannerinsite-finance-for
  .bannerinsite-details {
  padding-left: 15px;
}

.bannerinsite-container.vdp
  .bannerinsite-info
  .bannerinsite-lease-for
  .bannerinsite-details {
  width: 100%;
}
.bannerinsite-container.vdp
  .bannerinsite-info
  .bannerinsite-finance-for
  .bannerinsite-price-text {
  border-right: 2px solid #333;
}
.bannerinsite-container.vdp
  .bannerinsite-info
  .bannerinsite-lease-for
  .bannerinsite-sub-text {
  width: 100%;
}
.bannerinsite-container.vdp.mobile .bannerinsite-info .bannerinsite-details-p {
  margin: 5px 0;
  font-size: 2vw;
}
.bannerinsite-container.vdp.mobile .bannerinsite-info .bannerinsite-sub-text {
  font-size: 1.6vw;
  text-align: left;
  margin-top: -1rem;
}

.bannerinsite-container.vdp.mobile .bannerinsite-info .bannerinsite-discounts {
  font-size: 1.8vw;
  line-height: 1.8vw;
}
.bannerinsite-container.vdp.mobile .bannerinsite-other-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: -3rem;
}
.bannerinsite-container.vdp.mobile
  .bannerinsite-other-options
  .bannerinsite-option {
  background-color: red;
  padding: 0.2rem;
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 45%;
  margin-bottom: -0.8rem;
}
.bannerinsite-container.vdp
  .bannerinsite-other-options
  .bannerinsite-option
  .bannerinsite-h3 {
  font-size: 3vw;
  line-height: 4vw;
  color: #fff;
}
.bannerinsite-container.vdp.mobile
  .bannerinsite-other-options
  .bannerinsite-option
  .bannerinsite-offers {
  margin-right: 3rem;
  color: #fff;
  text-align: right;
  width: 100%;
}
.bannerinsite-container.vdp.mobile .bannerinsite-image-container {
  width: 100%;
  overflow: hidden;
  padding-right: 2vw;
}
.bannerinsite-container.vdp.mobile
  .bannerinsite-image-container
  .bannerinsite-img {
  width: 100%;
}

/* VDP */
/* Desktop Version  */

.bannerinsite-container.vdp.desktop {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  padding-right: 1rem;
  line-height: normal;
  padding-left: 15px;
  margin: 10px;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.5) 45%,
      rgba(255, 255, 255, 0) 55%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(https://bannerinsitepublicimages.blob.core.windows.net/bannerimages/jim_ellis_buick_gmc_bg_desktop.jpg);
  height: 150px;
  background-position: 40% 45%;
}

.bannerinsite-container.vdp.desktop .bannerinsite-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: flex-start;
  flex-basis: 125%;
}
.bannerinsite-container.vdp.desktop .bannerinsite-info .bannerinsite-title {
  margin-bottom: 1rem;
  margin-left: 0;
  flex-basis: 100%;
  font-size: 22px;
  font-weight: 100;
}
.bannerinsite-container.vdp.desktop
  .bannerinsite-info
  .bannerinsite-finance-for {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.bannerinsite-container.vdp.desktop .bannerinsite-info .bannerinsite-lease-for {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 8px;
}

.bannerinsite-container.vdp.desktop .bannerinsite-info .bannerinsite-lease-for,
.bannerinsite-container.vdp.desktop
  .bannerinsite-info
  .bannerinsite-finance-for {
  flex-basis: 35%;
}
.bannerinsite-container.vdp.desktop
  .bannerinsite-info
  .bannerinsite-finance-for
  .bannerinsite-price-text {
  border-right: 2px solid #333;
}
.bannerinsite-container.vdp.desktop
  .bannerinsite-info
  .bannerinsite-finance-for
  .bannerinsite-price-text {
  padding-right: 8px;
}
.bannerinsite-container.vdp.desktop
  .bannerinsite-info
  .bannerinsite-price-text {
  gap: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.bannerinsite-container.vdp.desktop
  .bannerinsite-info
  .bannerinsite-price-text
  .bannerinsite-price {
  font-size: 2.5rem;
  font-weight: 700;
}

.bannerinsite-container.vdp.desktop .bannerinsite-info .bannerinsite-details-p {
  margin: 0.5rem 0 !important;
  font-size: 0.65rem !important;
}

.bannerinsite-container.vdp.desktop
  .bannerinsite-info
  .bannerinsite-lease-for
  .bannerinsite-details-p {
  text-align: left;
}
.bannerinsite-container.vdp.desktop .bannerinsite-info .bannerinsite-text-for {
  font-size: 0.7rem;
}
.bannerinsite-container.vdp.desktop .bannerinsite-p {
  margin: 0;
  font-size: 0.6rem;
}
.bannerinsite-container.vdp
  .bannerinsite-info
  .bannerinsite-lease-for
  .bannerinsite-sub-text {
  margin: 0;
  text-align: left;
}
.bannerinsite-container.vdp.desktop .bannerinsite-info .bannerinsite-sub-text {
  min-width: 160px;
  margin: 0;
  text-align: left;
}
.bannerinsite-container.vdp
  .bannerinsite-info
  .bannerinsite-lease-for
  .bannerinsite-details-p {
  margin: 0;
}
.bannerinsite-container.vdp
  .bannerinsite-info
  .bannerinsite-finance-for
  .bannerinsite-discounts {
  font-size: 0.6rem;
}
.bannerinsite-container.vdp.desktop .bannerinsite-info .bannerinsite-details {
  width: 100% !important;
  padding-left: 0 !important;
}
.bannerinsite-container.vdp.desktop .bannerinsite-image-container {
  width: 75%;
  padding-right: 2vw;
  flex-basis: 50%;
  overflow: hidden;
}
.bannerinsite-container.vdp.desktop
  .bannerinsite-image-container
  .bannerinsite-img {
  clip-path: polygon(7% 29%, 86% 28%, 86% 77%, 7% 79%);
  height: 100%;
  max-width: 350px;
  width: 100%;
}

.bannerinsite-container.vdp.desktop .bannerinsite-other-options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: -3rem;
  flex-direction: column;
  justify-content: flex-end;
  width: 20%;
  align-self: flex-end;
  align-items: flex-end;
}
.bannerinsite-container.vdp.desktop
  .bannerinsite-other-options
  .bannerinsite-option {
  background-color: red;
  padding: 0.2rem;
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 45%;
  margin-bottom: -0.8rem;
  max-width: 150px;
  min-width: 125px;
}
.bannerinsite-container.vdp.desktop
  .bannerinsite-other-options
  .bannerinsite-option
  .bannerinsite-h3 {
  font-size: 0.7rem;
  color: white;
}
.bannerinsite-container.vdp.desktop
  .bannerinsite-other-options
  .bannerinsite-offers {
  font-size: 0.5rem;
  color: #fff;
  text-align: right;
  width: 100%;
  text-align: right;
}

@media screen and (min-width: 1000px) and (max-width: 1024px) {
  .bannerinsite-container.vdp.desktop {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.65) 40%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      ),
      url(https://bannerinsitepublicimages.blob.core.windows.net/bannerimages/jim_ellis_buick_gmc_bg_desktop.jpg);
  }
  .bannerinsite-container.vdp.desktop .bannerinsite-image-container {
    width: 40%;
    padding-right: 0;
    flex-basis: 85%;
    margin-left: 0;
  }
  .bannerinsite-container.vdp.desktop
    .bannerinsite-info
    .bannerinsite-text-for {
    max-width: 70px;
  }
  .bannerinsite-container.vdp.desktop .bannerinsite-info .bannerinsite-details {
    width: 100%;
  }
  .bannerinsite-container.vdp.desktop .bannerinsite-info .bannerinsite-title {
    margin: 0;
  }
  .bannerinsite-container.vdp.desktop
    .bannerinsite-info
    .bannerinsite-details-p {
    margin-top: 0 !important;
    margin-bottom: 0.5rem !important;
  }
  .bannerinsite-container.vdp.desktop
    .bannerinsite-image-container
    .bannerinsite-img {
    width: 140%;
  }
  .bannerinsite-container.vdp.desktop .bannerinsite-p {
    margin: 0;
    font-size: 0.7rem;
  }
  .bannerinsite-container.vdp.desktop .bannerinsite-other-options {
    width: 20%;
  }
  .bannerinsite-container.vdp.desktop
    .bannerinsite-info
    .bannerinsite-price-text {
    gap: 1rem;
  }
  .bannerinsite-container.vdp
    .bannerinsite-info
    .bannerinsite-price-text
    .bannerinsite-price {
    font-size: 3.5rem;
  }
  .bannerinsite-container.vdp.desktop
    .bannerinsite-info
    .bannerinsite-sub-text {
    min-width: 210px;
  }
  .bannerinsite-container.vdp.desktop
    .bannerinsite-info
    .bannerinsite-details-p,
  .bannerinsite-container.vdp.desktop
    .bannerinsite-info
    .bannerinsite-text-for {
    font-size: 0.85rem !important;
  }
  .bannerinsite-container.vdp
    .bannerinsite-info
    .bannerinsite-finance-for
    .bannerinsite-discounts {
    font-size: 0.8rem;
  }
  .bannerinsite-container.vdp.desktop .bannerinsite-p {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .bannerinsite-container.vdp.desktop .bannerinsite-info {
    flex-basis: 125%;
  }
  .bannerinsite-container.vdp.desktop
    .bannerinsite-info
    .bannerinsite-price-text
    .bannerinsite-price {
    font-size: 2rem;
  }
  .bannerinsite-container.vdp.desktop
    .bannerinsite-info
    .bannerinsite-price-text
    .bannerinsite-text-for {
    font-size: 0.65rem;
  }
  .bannerinsite-container.vdp.desktop
    .bannerinsite-info
    .bannerinsite-details-p {
    font-size: 0.6rem !important;
  }
  .bannerinsite-container.vdp.desktop .bannerinsite-p {
    font-size: 0.55rem !important;
  }
  .bannerinsite-container.vdp.desktop
    .bannerinsite-info
    .bannerinsite-finance-for
    .bannerinsite-discounts {
    font-size: 0.5rem !important;
  }
  .bannerinsite-container.vdp.desktop .bannerinsite-image-container {
    flex-basis: 45%;
    padding-right: 1vw;
  }
  .bannerinsite-container.vdp.desktop
    .bannerinsite-image-container
    .bannerinsite-img {
    width: 120%;
  }
}
